<!DOCTYPE html>
<html>
    <head>
        <title>Outside</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <link rel = "stylesheet" href = "/app.css">
            <script src = "https://code.jquery.com/jquery-2.2.3.min.js" integrity = "sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin = "anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<!--Lasse's angular installations" -->
    
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    



            <script>
                window.onload = function() {
                  if(document.getElementById("home")!=null){
                    $('#main').addClass('backgrounds');
                  }
                }
            </script>
    </head>
    <body id="main">
      <% if(isAuthenticated) {  %>
        <nav class="navbar navbar-default navbar-fixed-top menu">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
             
              <button type="button" class="navbar-toggle collapsed ham pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
              <a class="navbar-brand brand" href="/"><img src="http://i1028.photobucket.com/albums/y342/nickkt2/outsidecrew_zpshknlilnp.png" alt="Outside Crew" class="logoMenu"></a>
            </div
            
        
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href = "/dashboard"><span class="drop">Group Dashboard</span></a></li>
                </ul>
                <ul class="nav navbar-nav">
                  <li><a href = "/myartists"><span class="drop">My Lineup</span></a></li>
                </ul>
                <ul class="nav navbar-nav">
                  <li><a href = "/logout"><span class="drop">Log Out</span></a></li>
                </ul>
            </div><!-- /.navbar-collapse 
          </div><!-- /.container-fluid -->
        </nav>
      <% } %>
        <div class="container-fluid">


        