<% include partials/header %>
    <div class="home">
        <h3 style="text-align: center; font-weight: bold;">College Friends</h3>
        <h4 style="text-align: center; font-weight: bold;">Group Schedule</h4>
    </div>  
  <div class = "date1">
  </div>    

             <div class="card">
          <img class="card-img-top cardimage" src="https://upload.wikimedia.org/wikipedia/commons/0/02/J._Cole.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="margin-left: 4px; font-weight: bold;">J. Cole</h4>
            <h6 style="margin-left: 4px;">Start Time: 10:30</h6>
            <h6 style="margin-left: 4px;">End Time: 11:45</h6>
            <h6 style="margin-left: 4px; font-size: 15px; font-weight: bold;">Friends Attending: 15</h6>
          </div>
        </div>
                <div class="card">
          <img class="card-img-top cardimage" src="http://static.stereogum.com/uploads/2016/01/LCD-Soundsystem.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="margin-left: 4px; font-weight: bold;">LCD Soundsystem</h4>
            <h6 style="margin-left: 4px;">Start Time: 8:30</h6>
            <h6 style="margin-left: 4px;">End Time: 9:45</h6>
            <h6 style="margin-left: 4px;">Friends Attending: 2</h6>
          </div>
        </div>
                <div class="card">
          <img class="card-img-top cardimage" src="http://d1ya1fm0bicxg1.cloudfront.net/2015/06/promoted-media_557f0e43a9fe1.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="margin-left: 4px; font-weight: bold;">Duran Duran</h4>
            <h6 style="margin-left: 4px;">Start Time: 12:45</h6>
            <h6 style="margin-left: 4px;">End Time: 2:15</h6>
            <h6 style="margin-left: 4px;">Friends Attending: 5</h6>
          </div>
        </div>
                <div class="card">
          <img class="card-img-top cardimage" src="https://media.npr.org/assets/music/programs/worldcafe/2010/02/beachhouse_wide-148efe198bd59c08e6512a12c83b4fb2d5f18464.jpg?s=1400" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="margin-left: 4px; font-weight: bold;">Beach House</h4>
            <h6 style="margin-left: 4px;">Start Time: 7:30</h6>
            <h6 style="margin-left: 4px;">End Time: 8:30</h6>
            <h6 style="margin-left: 4px;">Friends Attending: 9</h6>
          </div>
        </div>
                <div class="card">
          <img class="card-img-top cardimage" src="https://consequenceofsound.files.wordpress.com/2016/05/radiohead.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="margin-left: 4px; font-weight: bold;">Radiohead</h4>
            <h6 style="margin-left: 4px;">Start Time:  August 6, 2016 7:55PM</h6>
            <h6 style="margin-left: 4px;">End Time: August 6, 2016 9:55PM</h6>
            <h6 style="margin-left: 4px;">Friends Attending: 8</h6>
          </div>
        </div>
                <div class="card">
          <img class="card-img-top cardimage" src="http://images1.mtv.com/uri/mgid:file:docroot:mtv.com:/shared/promoimages/bands/z/zedd/a_z/2015/umg/zedd3.jpg?enlarge=false&matte=true&matteColor=black&quality=0.85" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="margin-left: 4px; font-weight: bold;">Zedd</h4>
            <h6 style="margin-left: 4px;">Start Time: August 6, 2016 8:40PM</h6>
            <h6 style="margin-left: 4px;">End Time: August 6, 2016 9:55PM</h6>
            <h6 style="margin-left: 4px;">Friends Attending: 6</h6>
          </div>
        </div>
                <div class="card">
          <img class="card-img-top cardimage" src="http://blog.turntablelab.com/wp-content/uploads/2015/06/sentireascoltare-Air-Band-1200x675.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="margin-left: 4px; font-weight: bold;">Air</h4>
            <h6 style="margin-left: 4px;">Start Time: August 6, 2016 6:10:00"</h6>
            <h6 style="margin-left: 4px;">End Time: August 6, 2016 8:10PM</h6>
            <h6 style="margin-left: 4px;">Friends Attending: 2</h6>
          </div>
        </div>
                <div class="card">
          <img class="card-img-top cardimage" src="http://imgs.l4lmcdn.com/lionel.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="margin-left: 4px; font-weight: bold;"><Lionel Richie></h4>
            <h6 style="margin-left: 4px;">Start Time: August 7, 2016 7:05PM</h6>
            <h6 style="margin-left: 4px;">End Time: August 7, 2016 9:35PM</h6>
            <h6 style="margin-left: 4px;">Friends Attending: 6</h6>
          </div>
        </div>
                <div class="card">
          <img class="card-img-top cardimage" src="http://www.billboard.com/files/styles/article_main_image/public/media/Lana-Del-Rey-Press-Photo-2015-Billboard-650.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="margin-left: 4px; font-weight: bold;">Lana Del Ray</h4>
            <h6 style="margin-left: 4px;">Start Time: August 7, 2016 8:25PM</h6>
            <h6 style="margin-left: 4px;">End Time: August 7, 2016 9:35PM</h6>
            <h6 style="margin-left: 4px;">Friends Attending: 8</h6>
          </div>
        </div>
                <div class="card">
          <img class="card-img-top cardimage" src="http://youredm.youredm1.netdna-cdn.com/wp-content/uploads/2016/06/major-lazer2.jpg?717214" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="margin-left: 4px; font-weight: bold;"><Major Lazer</h4>
            <h6 style="margin-left: 4px;">Start Time: August 7, 2016 6:25PM</h6>
            <h6 style="margin-left: 4px;">End Time: August 7, 2016 7:25PM</h6>
            <h6 style="margin-left: 4px;">Friends Attending: 3</h6>
          </div>
        </div>
                <div class="card">
          <img class="card-img-top cardimage" src="http://pigeonsandplanes.com/wp-content/uploads/2016/06/chance-the-rapper-university-of-chicago.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style="margin-left: 4px; font-weight: bold;">Chance The Rapper</h4>
            <h6 style="margin-left: 4px;">Start Time: August 7, 2016 4:55PM</h6>
            <h6 style="margin-left: 4px;">End Time: August 7, 2016 5:55PM</h6>
            <h6 style="margin-left: 4px;">Friends Attending: 4</h6>
          </div>
        </div>
   
    
<% include partials/footer %>